@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  scroll-behavior: smooth;
  // background-color: ;
  @apply bg-black;
  }

#background {
  background-image: url('/trust-white.png');
  background-repeat: no-repeat;
  background-position: center 20%;
  background-size: 45%;
  background-attachment: fixed;
  
  @media screen and (max-width: 640px) {
    background-repeat: no-repeat;
    background-position: 0 0%;
    background-size: cover;
  }
}
